package-lock.json
node_modules
dist
.DS_Store
examples
yarn-error.log
yarn.lock

#cypress
cypress/fixtures
cypress/plugins
cypress/support

#coverage
coverage

#.env
.env

#snapshots
src/tests/__snapshots__
__snapshots__
