package-lock.json
node_modules
dist
.DS_Store
examples
yarn-error.log
yarn.lock
env

#cypress
cypress/fixtures
cypress/plugins
cypress/support
src/.DS_Store

#coverage
coverage

#.env
.env

#snapshots
src/tests/__snapshots__
__snapshots__

**/.DS_Store
