$primary: #3dbfb7;
$danger: #fc4949;
$black: #313131;
$white: #ffffff;
$dark-grey: #535353;
$light-grey: #f0efef;
$yellow: #535353;
$round-button-color: rgba(196, 196, 196, 0.16);
$page-bg-color: #f7fcfc;
$black-transparent: rgba(54, 54, 54, 0.45);